altgraph==0.17.4
future==0.18.3
importlib-metadata==6.8.0
iso8601==2.1.0
numpy==1.26.0
packaging==23.2
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
PyOpenGL==3.1.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqtgraph==0.13.3
pyserial==3.5
PyYAML==6.0.1
zipp==3.17.0
