name: Ubuntu 22.04 Linux Build

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      tags:
       description: 'ubuntu 22.04'
        
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x86_64'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r src/requirements.txt

      - name: Build with PyInstaller
        run: |
          cd src
          pyinstaller QtTinySA.spec
          cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: QtTinySA_2204.bin
          path: ~/work/QtTinySA/QtTinySA/src/dist
