name: Ubuntu Linux Build with Nuitka

permissions:
  contents: read
  actions: read

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'ubuntu latest nuitka'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Check-out repository
    - uses: actions/checkout@v4
    
    # Setup Python
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
        cache: 'pip'
        cache-dependency-path: |
            **/requirements*.txt

    - name: Install Dependencies
      run: |
          pip install -r src/requirements.txt
    
    # Build python script into a single executable
    - uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: QtTinySA.py
        working-directory: ./src
        mode: standalone

    # Uploads artifact
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        # name: bin
        name: QtTinySA_ubuntu_latest
        path: ~/work/QtTinySA/QtTinySA/src/build
        include-hidden-files: true
