name: Ubuntu Linux Build for arm64

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'ubuntu arm64'

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    # Check-out repository
    - uses: actions/checkout@v4
    
    # Setup Python
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'arm64' # optional x64 or x86. Defaults to x64 if not specified
        cache: 'pip'
        cache-dependency-path: |
            **/requirements*.txt

    - name: Install Dependencies
      run: |
          sudo sudo apt install -y qtbase5-dev  # copilot
          pip install -r src/requirements.txt

    
    # Build python script into a single executable
    - uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: QtTinySA.py
        working-directory: ./src
        mode: app

    # Uploads artifact
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: QtTinySA_arm64
        path: ~/work/QtTinySA/QtTinySA/src/build
        include-hidden-files: true
